<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Contact-me</title>
</head>
{% include 'bootstrap.html' %}
{% include 'navbar.html' %}
<body style="background-color:skyblue;" >
<p><h3><center><strong>Contact me</strong></center></h3></p>
<p><h3><center><strong>...........................................................................</strong></center></h3></p>
<p><h3><center><strong>Mobile number:phone!! +917674870947</strong></center></h3></p>
<p><h3><center><strong>Mail me:<a href="thatiparthibhaskar809@gmail.com">thatiparthibhaskar809@gmail.com</a></strong></center></h3></p>
<p><h3><center><strong>MAP: <a href=https://www.google.co.in/maps/place/Veerampalli,+Andhra+Pradesh+524405/@14.2851469,79.8086035,16z/data=!3m1!4b1!4m5!3m4!1s0x3a4ce8c47fd89e93:0x6f5414b759479990!8m2!3d14.2858806!4d79.8135654?hl=en&authuser=0">map</a> </strong></center></h3></p>
</body>
</html>