<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}

    {{ form}}
    <p style="color: green;  box : 10px solid blue; box-shadow: antiquewhite;  " class="text-center text-capitalize text"> mail has been sent to your mail </p>

    <a href="https://accounts.google.com/signin/v2/identifier?hl=en&continue=https%3A%2F%2Fmail.google.com%2Fmail&service=mail&ec=GAlAFw&flowName=GlifWebSignIn&flowEntry=AddSession">check your mail</a>

</form>
</body>
</html>