{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% include 'bootstrap.html' %}
<body>
<form method="POST">
    {% csrf_token %}
    <label>Name:</label>
    <input type="text" name="name" placeholder="Enter the name" class="form-control">
    <label>Father Name:</label>
    <input type="text" name="fname" placeholder="Enter the Father name" class="form-control">
    <label>Address:</label>
    <input type="text" name="address" placeholder="Enter the Address" class="form-control">
    <label>Upload Photo:</label>
    <input type="file" name="photo" placeholder="Enter the name" class="form-control">
    <label>Phone number</label>
    <input type="number" name="phonenumber" placeholder="Enter the phone number" class="form-control">
    <label>Email:</label>
    <input type="Email", name="email", placeholder="Enter the Email " class="form-control">
    <input type="submit" value="Register" class="btn btn-success" >
    <input type="reset" value="cancel" class="btn btn-warning">
</form>

</body>
</html>